# ==============================
# DuckDB
# ==============================
*.db
*.duckdb
*.wal

# ==============================
# Generated data / outputs
# ==============================
data/output/
*.parquet

# ==============================
# Temporary files
# ==============================
*.tmp
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Editor / IDE
# ==============================
.vscode/
.idea/

# ==============================
# Secrets (just in case)
# ==============================
.env
.env.*

# VENV
.venv
